{
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "browser": true,
        "amd": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "script",
        "ecmaFeatures": {
            "impliedStrict": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {}
}